<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 90000; min-height: 65px;">

    <div class="d-none d-sm-inline ">
      <img class="" src="/recursos/img/logo_mb.png" width="100" height="60"> 
    </div>
    <p class="titulo m-0 p-0">Visualizador Catastral de Culiacán</p>   
   

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>             

  <div class="collapse navbar-collapse justify-content-md-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item text-center">
        <button id="btnTablaContenido" class="btn pr-0 pl-0 btn_menu" style="font-size: 11px; max-width: 100px;">
          <i class="fa fa-layer-group" style="font-size: 15px;"></i><br>
        Tabla de Contenido
      </button>
      </li>
      <li class="nav-item text-center">
        <button id="btnConsultaPadron" class="btn pr-0 pl-0 btn_menu" style="font-size: 11px; max-width: 100px;">
          <i class="fa fa-file" style="font-size: 15px;"></i><br>
        Consulta a Padrón
      </button>
      </li>
      <li class="nav-item text-center">
        <button id="btnInspeccionarPadron" class="btn pr-0 pl-0 btn_menu" style="font-size: 11px; max-width: 100px;">
          <i class="fas fa-user-check" style="font-size: 15px;"></i><br>
        Inspección y Graficación
      </button>
      </li>
      <li class="nav-item dropdown text-center">
        <a class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">          
          <i class="fas fa-user-circle fa-3x"></i>        
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <!--<a class="dropdown-item" href="#">Detalle Usuario</a>
          <div class="dropdown-divider"></div>-->
          <a class="dropdown-item" href="/">Salir</a>
        </div>
      </li>
    </ul>
  </div>

</nav>